<html>
    <head>
        <title>Fibonacci Calculator</title>
    </head>
<body>

<h1>Welcome to the Custom Fibonacci Sequence Calculator</h1>

<form action="/calculate" method="POST">
    First Number: <input type="number" name="firstnum" id = "1stnum" ><br>
	Second Number: <input type="number" name="secondnum" id = "2ndnum"><br><br>
	<input type="submit" value="Submit"><br>
</form>

</body>
</html>