<html>
    <head>
        <title>Fibonacci Calculator</title>
    </head>
<body>
<h1>Results</h1>
Result: <%= results %> <br>

<form action="/calculate" method="GET">
<input type="submit" value="Try another"><br>
</form>

</body>
</html>